*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
section{
  margin-top:5rem;
  text-align:center;
  min-height:100vh;
}
.container a{
  display:flex;
  flex-direction:column;
}
a{
  margin:2em;
  border:1px solid black;
  height:50px;
  padding-top:1em;
  border-radius:20px;
}
img{
  height:200px;
  width:150px;
  border-radius:50%;
  border:3px solid green;
}
a{
  text-decoration:none;
  color:black;
  font-weight:bold;
  font-family:arial;
}
.wa:hover{
  background-color:green;
  color:white;
}
span{
  color:green;
}
.it:hover{
  background-color:green;
  color:white;
}
.fe:hover{
  background-color:green;
  color:white;
}
h1{
  font-family:arial;
  font-weight:bold;
  font-size:2rem;
}